.wrapperListTodo {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 24px 632px 24px; */
  height: 72px;
  background-color: var(--gray500);
  border-radius: 8px;
  padding: 16px 16px 16px 16px;
}
.wrapperInput {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  margin-right: 12px;
}
.checkboxRound {
  width: 20px;
  height: 20px;
  background-color: var(--gray500);
  border-radius: 50%;
  border: 2px solid var(--blue);
  -webkit-appearance: none;
  cursor: pointer;
}
.checkboxRound:hover {
  border: 2px solid var(--blue-dark);
  background-color: var(--gray400);
}
.checkboxRound:checked {
  background-color: var(--purple-dark);
  border: none;
}
.checkboxRound:checked:hover {
  background-color: var(--purple);
}

.wrapperText {
  max-width: 632px;
  color: var(--gray100);
  font-weight: normal;
}
.wrapperTrash {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  color: var(--gray300);
}
.wrapperTrash:hover {
  color: var(--danger);
  background-color: var(--gray400);
  border-radius: 25%;
}
