.headTodo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
}
.todoCriada {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.todoConcluida {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.textCriada {
  color: var(--blue);
  font-weight: bold;
  font-size: 14px;
}
.textConcluida {
  color: var(--purple);
  font-weight: bold;
  font-size: 14px;
}
.wrapperCount {
  background-color: var(--gray400);
  border-radius: 30%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.count {
  color: var(--gray200);
  font-weight: bold;
  font-size: 12px;
}
